.u-section-1 .u-sheet-1 {
  min-height: 579px;
}

.u-section-1 .u-form-1 {
  height: 419px;
  width: 570px;
  margin: 30px auto;
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
}

footer
{
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
}